@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;600;800&display=swap');


body{
    scroll-behavior: smooth;
    font-family: 'Glory', sans-serif;
}

/*==========header and nav section=======*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(30 255 98);
    transition-duration: 0.3s;
    border-bottom: 3px solid #1eff62;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
    padding: 15px 20px;
    font-weight: 500;
}
.navbar-light .navbar-brand {
    font-size: 26px;
    font-weight: 700;
}
.navbar-light .navbar-toggler-icon {
   
    filter: invert(1);
}
.navbar-brand img{
    width: 50px;
    align-items: center;
}
header {
    background: #000000;
    height: 37rem;
}
.fixed-top {
    background: #000000;
    padding: 0px;
}
.btn{
    color: #1eff62;
    border: 2px solid #1eff62;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 13px;
}

.btn:hover{
    color: white;
    background: #1eff62;
    transition-duration: 0.3s;
    letter-spacing: 1px;
}
.fe-section {
    padding: 68px 0;
}
.header-text {
    padding: 138px 17px;
}
.header-text h3{
    font-size: 20px;
    color: #1eff62bd;
}
.header-text h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
.header-text h1 span{
    color: #1eff62;
}
.header-text p{
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 22px;
    color: #ffffff9e;
}
.header-img img{
    max-width: 31rem;
    padding: 10px;
    filter: hue-rotate(45deg);
}
/*==========header and nav section=======*/

/*==========about section==========*/
.about-section{
    padding: 60px 0;
    background: #000000eb;
}
.about-me{
    padding: 80px 31px 0;
}
.about-me h3{
    color: white;
    font-size: 28px;
    font-weight: 600;
}
.about-me p{
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 22px;
    color: #ffffff9e;
    }
.about-me span {
}
.about-img{}
.about-img img{
    max-width: 20rem;
    margin-left: 125px;
}
.about-me h4{
    margin: 0;
    color: #1eff62;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
}
/*==========about section==========*/
/*============service section========*/
.card-section{
    background: black;
    padding: 55px 0;
}
.card-section .col-4{}
.card-section .card-containt{
    padding: 33px;
    border-radius: 10px;
    margin: 40px 0;
}
.card-section .card-containt:hover{
    transition-duration: 0.3s;
    border-radius: 15px;
    box-shadow: inset 9px 9px 15px #1eff6261, 
    inset -9px -9px 15px #1eff6261;
}

.card-section .col-lg-4 img{
    filter: invert(1);
}
.card-section .col-lg-4 h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 11px 0 7px;
    color: white;
}
.card-section .col-lg-4 h3:hover{
    letter-spacing: 2.7px;
    transition-duration: 0.3s;
    color: #1eff62;
}
.card-section .col-lg-4 p{
    margin-bottom: 0 !important;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff9e;
}
.card-section h2 span{
    color: #1eff62;
}
.card-section h2{
    padding: 14px 0 0;
    color: white;
}
/*============service section========*/

/*============work section========*/
.work-section{
    background: #141414;
    padding: 100px 0 120px;
}
.work-section h2{
    padding-bottom: 
    50px;color: white;
}

.work-section h2 span{
    color: #1eff62;
}

.work-img:hover{
    /* box-shadow: -1px 1px 20px 9px #1eff6287; */
    /* border-radius: 28px; */
    /* margin: 20px; */
    opacity: .7;
}
.work-img img{
    max-width: 100%;
    /* border-radius: 28px; */
    margin: 10px;
}
/*============work section========*/

.contact-section{
    padding: 100px 0 50px;
    background: black;
}
.contact i{
    display: block;
    padding: 5px 0;
    color: white;
    font-size: 18px;
}
.contact p{
    display: inline-block;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff9e;
    margin-left: 18px;
}
.contact h3{
   color: white;
   font-size: 28px;
   font-weight: 300;
}
.contact h3 span{
    /* color: #1eff62; */
}
.contact h2{
    text-align: center;
    padding-bottom: 43px;
    color: white;
    letter-spacing: 1px;
}
.contact h2 span{
    color: #1eff62;
}
.contact-info{
    padding: 20px 0;
}
label {
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff9e;
}
.form-control {
    color: #ffffff;
    background-color: #fff0;
    border: 1px solid #1eff62;
}
.form-control:focus {
    color: #ffffff;
    background-color: #fff0;
    border-color: #86b7fe00;
    box-shadow: none;
    border: 2px solid #1eff62;
}
form .btn{
   margin: 10px 0; 
}

/*footer section*/
footer{
    text-align: center;
    background: #141414;
    padding: 18px 0;
}
.copyright{}
.copyright p{
    margin: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    color: #ffffffd9;
}
.icon{}
.icon i{
    padding: 0 10px;
    padding: 10px;
    color: white;
}

.icon i:hover{
    padding: 0 10px;
    color: #1eff62;
    transition-duration: .4s;
    font-size: 20px;
}



/*=================meadia start=================*/
@media(max-width:1199px){
    .header-img img {
    max-width: 26rem;
    }

}
@media(max-width:992px){
.header-text h1 {
    font-size: 2rem;
}

    .header-img img {
    max-width: 23rem;
}

.about-img img {
    max-width: 15rem;
}
.about-me h4 {
    font-size: 18px;
}
.about-me h3 {
    font-size: 27px;
}
.about-me p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
}
.about-me {
    padding: 20px 0;
}

/*header */
.fe-section {
    padding: 48px 0;
}

}

@media(max-width:768px){
.header-img img {
    max-width: 16rem;
}
.header-text h3 {
    font-size: 18px;
}
.header-text h1 {
    font-size: 1.7rem;
}
.header-text {
    padding: 100px 15px;
}
header {
    height: 26rem;
}
.about-me p {
    font-size: 14px;
    }
.btn {
    border: 1.7px solid #1eff62;
    padding: 9px 18px;
    font-size: 12px;
}
.about-img img {
    max-width: 15rem;
    margin-left: 0 !important;
}
.card-section .card-containt {
    padding: 30px;
    margin: 40px 35px;
}
}






@media(max-width:576px){
    .container{
        max-width: 100%;
    }
    .header-text {
    padding: 28px 3px;
}
.fe-section {
    text-align: center;
}
.header-img img {
    max-width: 14rem;
    padding: 0 !important;
}
.header-text h3 {
    font-size: 15px;
}
.header-text h1 {
    font-size: 1rem;
    margin: 0;
}
.header-text p {
    font-size: 15px;
    color: #ffffff9e;
    margin-bottom: 2px !important;
}
.btn {
    border: 1px solid #1eff62;
    padding: 5px 10px;
    font-size: 7px;
}
.about-section {
    padding: 45px 0;
    text-align: center;
}
.about-me p {
    font-size: 14px;
    padding: 14px;
    margin: 0;
}
.about-me h3 {
    margin: 0;
}
.work-img img {
    max-width: 20rem;
    margin: 10px;
}
.work-section {
    padding: 80px 0;
    text-align: center;
}

.contact-section {
    padding: 50px;
    text-align: center;
}
.contact h2 {
    text-align: center;
    padding-bottom: 12px;
}
.contact-info {
    padding: 12px 0;
}
.contact i {
     padding: 0 !important; 
}
footer {
    padding: 12px 0;
}
}






